{% set title = theBlock.title %}
{% set desc = theBlock.description %}
{% set linkLabel = theBlock.linkLabel %}
{% set smallText = theBlock.linkSmallText %}
{% set background = theBlock.backgroundImage.all() %}

<div class="newsletter element--py">
    {% if background %}
        <div class="newsletter__bg">
            {% for img in background %}
                <img data-src={{img.url}} src="dist/images/placeholder.jpeg" alt="newsletter" class="lazy">
            {% endfor %}
            <div class="newsletter__overlay"></div>
        </div>
    {% endif %}
    <div class="container">
        {% if title %}
            <div class="newsletter__title" data-fadein>
                <h2>{{title}}</h2>
            </div>
        {% endif %}
        {% if desc %}
            <div class="newsletter__desc typography" data-fadein>
                {{desc}}
            </div>
        {% endif %}
        <form class="newsletter__input" action="http://website-isgb.ddev.site/subscribe" method="post" data-fadein>
            <input type="email" aria-label="Email" placeholder="john.james@gmail.com" name="nl-email"/>
            <button class="btn btn--yellow">
                <span>SUBSCRIBE</span>
            </button>
        </form>
    </div>
</div>