
{% set testimonials = craft.entries.section('testimonials') %}
{% paginate testimonials as pageInfo, pageEntries %}

<div class="testimonials__list">
    {% for testimonial in pageEntries %}
        <div class="testimonial" data-fadein>
            <div class="testimonial__wrap">
                <div class="testimonial__person">
                    <div class="testimonial__img">
                        <img src="dist/images/james.png" alt="profile">
                    </div>
                    <div class="testimonial__name">
                        <label>{{testimonial.title}}</label>
                    </div>
                </div>
                <div class="testimonial__body typography">
                    {{testimonial.testimonial}}
                </div>
            </div>
        </div>
    {% endfor %}
    
</div>