

{% extends "_layout/main" %}


{% block main %}
<div class="hero element--py">
    <div class="container">
        <div class="hero__wrap">
                <div class="hero__title" data-fadein>
                    <h1>Webpage not found.</h1>
                </div>
                <div class="hero__action" data-fadein>
                    <a href="javascript:history.back()" class="btn">
                        <span>Take me Back</span>
                    </a>
                </div>
        </div>
    </div>
</div>
{% endblock %}